<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /SlideMaker/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /SlideMaker/index.html [L]
</IfModule>
